html{
height:100%;
}
body.body{
min-height:100vh;
border:3px solid rgb(81, 29, 38);
display:grid;
grid-template-rows:auto 1fr;
}
.main5{
border:3px solid pink;
padding-inline:1rem;
display:grid;
grid-template-columns:repeat(2,1fr);
/* grid-auto-rows:75%; */
grid-auto-rows:300px;
justify-content: space-between;
gap:0.5rem 0;

}
.main5>div{
  border: 4px solid sandybrown;
}
.original-tut{
  grid-column: span 2;
  display:flex;

background:#222;
 background-image:linear-gradient(to right,#333 1px,transparent 1px),linear-gradient(to bottom,#333 1px,transparent 1px);
 background-size:4vh 4vh;
position: relative;
overflow: hidden;
}
.original-tut  > .side-nav{
position: absolute;
/* bottom:0; */
}
.original-tut .cursor{
position: absolute;
width:100%;
height:100%;

pointer-events: none;
}
.box-big{
position:relative;
grid-column: span 4;
display: grid;
place-items:center;
font-size:3rem;
font-variant: small-caps;
}
.box-big h1{
font-size: clamp(1.5rem, 15vw, 8rem);
border-bottom:0.5px dashed salmon;
}
/* this is the span tnat being created in JS */
.span-style{
position:absolute;
width:15px;
height:5px;
background-color: blueviolet;
transition-timing-function:ease;
transition-duration:0.5s;
transition-delay:var(--i);
}
.span-style-origial-tut{
 position:absolute;
 width:20px;
 height:5px;
 background:#00ff9a; 
 box-shadow:0 0 15px #00ff9a,
 0 0 50px #00ff9a;
}

.btn-box{
  padding:0.3rem;
}
.grid-container{
  margin-inline:auto;
  max-width:min(100% , 250px);
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows:50px;
  gap:1rem;
}
.grid-container button{
  cursor: pointer;
}
.grid-container button:first-child{
background:linear-gradient(#00ff9a, transparent);
}

.grid-container .reset{
   background:linear-gradient(crimson 40%, transparent 100%);
   grid-row:2/3;
    grid-column:span 2; 
  }